@media (max-width:426px) {
    div.mainabout h1{
        font-size: 45px;
        margin-top: 120px;
    }
     div.mainabout h3{
        font-size: 16px;
        margin-top: -19px;

     }
     div.mainabout h5{
        font-size: 20px;
        margin-top: -15px;
        margin-left: 50px;
        margin-right: 50px;
        line-height: 1em;
     }
     div#educationtitle {
        margin-top: -100px;
     }
     div.HS div.flex_container{
        display: flex;
        flex-direction: column;
        align-items: center;    
        margin-left: 20px;
        margin-right: 20px;
    }
    div.HS div.flex_container div.small{
        margin-top: -100px;
    }
    div.HS{
        font-size: 15px;
    }
    div.HS img{
        width: 300px;
    }
    div.Uni div.bigflex{
        display: flex;
        flex-direction: column;
        align-items: left   ;    
        margin-left: 60px;
        margin-right: 20px;
    }
    div.Uni div.bigflex div.smallflex{
        margin-top: -50px;
    }
    div.Uni{
        font-size: 15px;
    }
    div.Uni img{
        width: 300px;
    }
    div.container{
        display: flex;
        flex-direction: column;
        margin-left: 50px;
        margin-right: 50px;    
    }
    div.MCD{
        margin-bottom: 15px;
    }
    div.York{
        margin-bottom: 15px;
    }
    div.York img{
        width: 230px;
    }
    div.deploybot{
        margin-left: 00px;
        margin-right: 0px;
    }
    div.deploybot hr{
        width: 300px;
    }
    div.deploybot h4{
        margin-left: 50px;
        margin-right: 50px;
    }
    div.deploybot ul.disclist li{
        padding: 5px;
        margin-right: 0px;
        margin-left: 5px;
    }
    div.deploybot div.lmath ul.androidlist li{
        padding: 5px;
        margin-right: 0px;
        margin-left: 5px;   
    }
    div.contact{
    margin: 0px;
    text-align: center;    
}
@media (max-width: 376px){
    div.Uni {
        margin-left: -30px;
    }
} 
}
body{
    color:gray;
    font-family: 'Varela Round', sans-serif;
    font-size: 32px;
    font-weight: 800;
    margin: 0px;
    line-height: 1.5em;
}
.mainHeader{
    display: flex;
    background-color: black;
    color: white;
    font-size: 12px;
    font-family: 'Varela Round', sans-serif;

}
.mainHeader h1{
    display: block;
    justify-content: start;
    align-self: center;
    margin: 20px;
}

.mainHeader ul{
    margin-left: auto;
    list-style: none;
    font-size: 20px;
    padding: 0px;
}
.mainHeader li{
    display:inline;
    margin: 20px;
    text-decoration: none;
}
.mainHeader a{
    text-decoration: none;
    color: white;
}
.mainHeader button{
    background-color: black;
    font-family: 'Varela Round', sans-serif;
    font-style: bold;
    font-size: 30px;
    margin-left: 10px;
    padding-top: 10px;
    color:white

}
.mainHeader i{
    margin-top: 50px;
    padding-top: 50px;

}
.mainabout h1{
    color: black;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    margin-top: 15rem;
}
.mainabout h3{
    font-size: 28px;
    margin-top: 40px;   
    color: grey;
    text-align: center;
}
.mainabout h5{
    font-size: 28px;
    margin-top: -40px;   
    /* margin-left: 200px; */
    color: black;
    text-align: center;
    display: block;
    margin-bottom: 240px;
}
#educationtitle{
    margin-top: 150px;
    text-align: center;
    color:black
}

.HS .flex_container{
    display: flex;
    margin-top: 100px;
    justify-content:space-around;
    margin-left: 50px;
    margin-right: 50px;
}
.HS .flex_container .small{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.HS h2{
    color: black;
}
.HS i{
    color: black;
}
.HS h4{
    margin-top: -40px;
    color: black;
}
.HS img{
    border: 5px;
    border-style:solid;
    border-radius: 50px;
    border-color: black ;
    width: 400px;
   
}
.Uni .bigflex{
    display: flex;
    justify-content:space-between;
    margin-top: 50px;
    margin-left: 135px;
    margin-right: 135px;
}
.Uni .bigflex .smallflex{
    display: flex;
    flex-direction: column;
    align-items: start;

}
.Uni img{
    border: 5px;
    border-style:solid;
    border-radius: 50px;
    border-color: black ;
    width: 400px;
}
#xptitle{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    color: black;
}
.container{
    margin-top: 50px;
    display: flex;   
    background-color: white ;
}
.MCD{
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
    border: 5px;
    border-style: solid;
    border-color: black;  
    border-radius: 25px;
    text-align: center;
    background-color: azure;
    color: black;
}
.MCD img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.MCD .title .mcdskills{
    font-size: 24px;
}
.York{
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
    border: 5px;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    text-align: center;
    background-color: azure;
    color: black;
}
.York img{
    width: 200px;
    height: 200px;
    border-radius: 100%;

}
.York .Ytitle .yorkskills{
    font-size: 24px;
}
.UC{
    flex:1;
    margin-left: 10px;
    margin-right: 10px;
    border: 5px;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    text-align: center;
    padding-bottom: 0%;
    background-color: azure;
    color: black;
}
.UC img{
    width: 200px;
    height: 200px;
    border-radius: 50%;

}
.UC .UCtitle .UCskills{
    font-size: 24px;
}
#projecttitle{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    color: black;
}
.deploybot{
    text-align: center;
    margin-left: 350px;
    margin-right: 350px; 
}
.deploybot hr{
    color: bl;
}
.deploybot h2{
    text-align: center;
}
.deploybot .disc{
   color: #5865F2; 
}
.deploybot h4{
    margin-bottom: 20px;
    color: black;
}
.deploybot ul{
    padding: 0px;
    list-style: none;
    display: inline;
    font-size: 20px;
    margin-top: -50px;

}
.deploybot ul li{
        display: inline;
        padding: 5px;
        margin-right: 50px;
        border: 5px;
        border-style: solid;
        border-color: gray;
        background-color: gray;
        color: white;
        border-radius: 20px;
}
.deploybot .disclist li{
    display: inline;
    padding: 5px;
    margin-right: 50px;
    border: 5px;
    border-style: solid;
    border-color: #5865F2;
    background-color: #5865F2;
    color: white;
    border-radius: 20px;
}
.deploybot .lma{
    color: #3DDC84;
}
.deploybot .androidlist li{
    display: inline;
    padding: 5px;
    margin-right: 50px;
    border: 5px;
    border-style: solid;
    border-color: #3DDC84;
    background-color: #3DDC84;
    color: white;
    border-radius: 20px;
}
.contact{
    margin-left: 350px;
    margin-right: 350px;
    text-align: center;
    color: black;
}
.contact .socials a{
    font-size: 50px;
    color: black;
    
}
.contact .socials a:visited{
    font-size: 50px;
    color: black;
    
}
.footer{
    background-color: black;
 bottom: 0;
 width: 100%;
 font-size: 16px;
 margin-top: 25px;
}
.footer h1{
    text-align: center;
    color: white;
}
.footer .footcontainer{
    display: flex;
    justify-content: space-around;
}
.footer .footcontainer a{
    font-size: 50px;
    color: white;
    background-color: black;
    margin-top: 15px;
}
.footer .footcontainer button{
    font-size: 50px;
    color: white;
    background-color: black;
}

